<mat-accordion *ngFor="let marca of productoOrdenados">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Marca: {{marca.marca}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list>

      <mat-list-item *ngFor="let prod of marca.items">
        {{prod.PRODUCTO}}

          <mat-form-field class="example-form-field">
            <mat-label>Cantidad</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <button (click)="guardar($event)"  mat-flat-button  aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-list-item>

    </mat-selection-list>

  </mat-expansion-panel>
</mat-accordion>
