.mat-accordion{
  margin: 0.5rem;
}
.example-form-field{
  width: 8rem;
  margin-left: 3rem;
}

.mat-flat-button{
  background-color: #68d391;
  margin-left: 2rem ;
  min-width: 0!important;
  padding: 0!important;
}

